.mainContainer {
  background: url(../../public/gradient.png);
  width: 98.9vw;
  height: 88vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.text {
  display: block;
  width: 60vw;
}
.buttonsubmit {
  width: 20rem;
}
.button {
  display: inline-block;
}
.imgsignup {
  width: 8rem;
  margin: 2rem 2rem 0rem 2rem;
}
.link {
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.link:hover {
  color: black;
}
.option {
  color: #fff;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 4.5rem;
  margin-top: 2rem;
}
