@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.heading {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  text-align: center;
}
.bannerimg {
  width: 98.9vw;
}
.formMain {
  margin-top: 2rem;
}
.formHeading {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
}
